
/*
Condense all of our CSS files to one.
I think we can use the homepage CSS for everything. Take a look at
the header requirements for the projet.
*/

h1{
  text-align: center;
}


.home-container{
  text-align: center;
}

.about{
  display: inline-block;
  width: 60%;
}

ul {
  text-align: left;
}

p {
  text-align: center; /*It looks like the project is supposed to be centered...idk*/
  font-family: sans-serif
}
