h1 {
  text-align: center;
}
h2 {
  text-align: left;
}

p {
  text-align: left;
  font-family: sans-serif
}

.aboutme-container {
  text-align: left; /*Maybe justify? We'll see how it plays out.*/
  image-orientation: center;
}

.content {
  display: inline-block;
  width: 40%; 
}

img {
  margin-left: auto;
  margin-right: auto;
}
