
/*
Condense all of our CSS files to one.
I think we can use the homepage CSS for everything. Take a look at
the header requirements for the projet.
*/

/*Formatting.*/
h1{
  text-align: center;
}
h2 {
  text-align: left;
}


ul {
  text-align: left;
}

p {
  font-family: sans-serif
}


/*Containers*/
/*
Home page.
*/
.home-container{
  text-align: center;
}
/*home text.*/
.about{
  display: inline-block;
  width: 60%;
  text-align: left;
}

/*About me container*/
.aboutme-container {
}
/*About me content*/
.content {
  display: inline-block;
  width: 60%;
  text-align: left;
}

/*Form container*/
.listform-container {
  text-align: left;
}
/*Form content*/
.list-content {
  display: inline-block;
}
/*All images floating since we only are using one.*/
img {
  float: inherit;
  border-style: none;
}

/*Clickable image referring to our homepage.*/
.home-reference {
  text-align: center;
}

/*
It looked nice.
body {
  background-color: #adad85;
}
*/
