h1 {
  text-align: center;
  color: black;
}

.text-container{
  text-align: center;
}

.text{
  display: inline-block;
  width: 50%;
}

h2 {
  text-align: center;
  color: black;
  font-family: monospace;
  font-style: italic;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

p {
  font-size: 18px;
  font-family: verdana;
  text-align: center;
}

body{
  background: url("https://i.imgur.com/Ziq4HVS.jpg")
  /*background-color: #adad85; */
}

table th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
