/*
NAME
03/25/19
*/
body {
  background: yellow;
  margin-top: 120px;
  background-image: url("http://www.gibsonr.com/classes/images/ircclogo.gif");
  background-attachment: fixed;
  background-repeat: repeat-x;
  /*Image repeat background clear, backgroundimageurl, etc*/
}
h3, h5, h6 {
  text-align: left;
}

h1, h2, h4 {
  text-align: center;
}


a {
  text-decoration: overline;
}

a:link {
  color: green;
}

a:visited {
  color: red;
}

a:hover {
  color: blue;
  font-weight: bold;
}

a:active {
  color: blue;
}
