body{
  background: url("https://i.imgur.com/pBfle3x.png");
  /*background: url("https://i.imgur.com/prCkFvd.jpg");
  background-color: #42B0E2; */
}

.text-container{
  text-align: center;
}
p{
  font-size: 18px;
  font-family: monospace;
  text-align: center;
  color: white;
}

.info{
  display: inline-block;
  width: 60%;

}
