/*life is a lot like arch linux, inheritantly simple, but you can make it very complicated.
Tech Acad Youtube for networking. fernandeztb@mail.irsc.edu
*/
body {
  background: yellow;
  margin-top: 120px;
  background-image: url("http://www.gibsonr.com/classes/images/ircclogo.gif");
  background-attachment: fixed;
  background-repeat: repeat-x;
  /*Image repeat background clear, backgroundimageurl, etc*/
}



h6 {
  text-align: left;
}

a:visited {
  color: red;
}

a:link {
  color: green;
}

a:active {
  color: blue;
}

a:hover {
  color: blue;
  text-decoration: bold;
}

a {
  text-decoration: overline;
}

/*Notes
Whats a margin and now to use it.. Space around elements
CSS separates presentation and content.
fontweight strong to make bold text.
css can use an Element, id and class.
CSS presidence. Inline has higher preference
CSS attributes no limits same with HTML.
Inline and block statements. <span> know the difference
Justify works ??
br style=clear>

Make sure to check our default settings for firefox when finishing this project.
Check fonts.
*/
